
body{
    background-color: hsl(30, 38%, 92%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-card{
    max-width: 200px;
    max-height: 300px;
   
}

.rimg{
    max-width: 200px;
    height: 300px;
    border-radius: 10px 0px 0px 10px;
}


.right-card{
    background-color: white;
    width: 200px;
    height: 300px;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
}

p, .old-price{
    color: hsl(228, 12%, 48%);
    font-size: 12px;
    font-family: 'montserrat';
    font-weight: 500px;
}

.caps{
    text-transform: uppercase;
}